body {
  margin: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;

  overflow: auto;
  /* background: #1C0F13; */
  background: repeating-linear-gradient(180deg, #1C1F33 0px, #1C1F33 5px, #1C1F33 5px, #010012 5px, #010012 10px);
  /* animation: gradient 40s ease infinite; */
  background-size: 400% 400%;
  background-attachment: fixed;
}


.box {
  background-color: #FF1500;
  --mask:
    radial-gradient(17.40px at 24.60px 50%,#000 99%,#0000 101%) 0 calc(50% - 24px)/51% 48px repeat-y,
    radial-gradient(17.40px at -12.6px 50%,#0000 99%,#000 101%) 12px 50%/calc(51% - 12px) 48px repeat-y,
		radial-gradient(17.40px at calc(100% - 24.60px) 50%,#000 99%,#0000 101%) 100% calc(50% - 24px)/51% 48px repeat-y,
    radial-gradient(17.40px at calc(100% + 12.60px) 50%,#0000 99%,#000 101%) calc(100% - 12px) 50%/calc(51% - 12px) 48px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(188 105 170 / 2%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 20vh;
  animation: wave 60s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.4;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.right-hand {
  /* height: 50vh;
  width: 50vw; */
  animation: wave 55s -2s linear infinite;

}

.left-hand {
  /* height: 50vh;
  width: 50vw; */
  animation: wave 65s -3s linear infinite;
}

.wave:nth-of-type(2) {
  bottom: -3.55em;
  animation: wave 38s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-15%);
  }

  50% {
      transform: translateX(-30%);
  }

  75% {
      transform: translateX(-15%);
  }

  100% {
      transform: translateX(1);
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxx */

.App {
  text-align: center;
  background: transparent;
  height: 100vh;
  /* padding: 2vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  font-weight: lighter;
  /* -webkit-text-stroke-width: 1.5px; */
  -webkit-text-stroke-color: #F8F0FB;
  font-style: italic;
}

.app-title-nav {
  /* color: #211A1D; */
  color: #6200B3;
  /* -webkit-text-stroke-width: 1.5px; */
  -webkit-text-stroke-color: #E84ADD;
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #211A1D;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  font-size: 3vmin;
  /* color: #211A1D; */
  color: #EAF4D3;
  padding: 0vh 0vh 0vh 5vh;
  height: 15vh;
  /* border-radius: 55px; */
  margin: 0;
  box-shadow: #1C0F13 2px 8px 12px;
}

.App-home {
  display: flex;
  align-items: flex-start;
}

.App-links {
  width: 60vw;
}

.App-link {
  /* color: #E84ADD; */
  color: black;
  text-decoration: none;
  /* font-family: monospace; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin: 50px;
  display: block;
}

.about-me {
  color: ghostwhite;
}

.section-title {
  display: none;
}

.section-button {
  appearance: none;
  background-color: #ffffff15;
  border-radius: 40em;
  border-style: none;
  box-shadow: #28282d 0 -12px 6px inset;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  /* font-family: monospace; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2vw;
  height: 10vh;
  width: 10vh;
  color: palevioletred;
}

.section-button:hover {
  .section-title {
    display: block;
    border: 0px;
  }
}

.slidecontainer {
  width: 15%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.spectrum-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 1px;
  border-radius: 50px;
background: black;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.spectrum-slider:hover {
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);
}

.spectrum-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: white;
  box-shadow: gray 0 -2px 6px inset;
  opacity: 0.8;
  cursor: default;
}

.spectrum-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: default;
}

/* xxx */

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* <!-- HTML !-->
<button class="button-92" role="button">Button 92</button> */

/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}