.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  padding: 2vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  /* font-weight: bold; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-style: italic;
}

.App-title-nav {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: magenta;
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f1b1f;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2vmin;
  color: black;
  padding-left: 5vh;
  height: 10vh;
  border-radius: 55px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* xxx */

/* <!-- HTML !-->
<button class="button-73" role="button">Button 73</button> */

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1vw;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}